$primary-font: "Inter";
$secondary-font: "Inconsolata";

$primary-light-color: #fff;
$secondary-light-color: none;
$accent-light-color: #007bff;

$hover-light-color: #4d4d4d;
$active-light-color: #999999;

$primary-dark-color: #111827;
$secondary-dark-color: #e7e7e7;
$accent-dark-color: #00c896;
$hover-dark-color: #999999;
$active-dark-color: #333333;
