@import "../helpers/variables";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font : {
    family: $primary-font;
  }
  background: {
    color: $primary-light-color;
  }
  &.dark-mode {
    background: {
      color: $primary-dark-color;
    }
    color: $secondary-dark-color;
  }
}
