html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter";
  background-color: #fff;
}
body.dark-mode {
  background-color: #111827;
  color: #e7e7e7;
}

.headings h2 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
.headings hr {
  margin: 0;
  margin-right: 20%;
}

.project {
  -webkit-padding-after: 5rem;
          padding-block-end: 5rem;
}

.project_title {
  font-weight: bolder;
  font-style: italic;
  font-size: 1.2rem;
}

.project_details {
  max-width: 80%;
}

.project_skills {
  margin-bottom: 1.5rem;
}
.project_skills ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.project_skill {
  margin-right: 1rem;
  border: 1px solid #007bff;
  border-radius: 3px;
  color: #007bff;
  font-size: 0.8rem;
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 1px;
  padding-left: 7px;
  box-shadow: inset 0 0 0 0 #007bff;
  transition: color 0.2s linear, box-shadow 0.5s linear;
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}
.project_skill:hover {
  box-shadow: inset 200px 0 0 0 #007bff;
  color: #fff;
}
.project_skill.dark-mode {
  border-color: #00c896;
  color: #00c896;
  box-shadow: inset 0 0 0 0 #00c896;
}
.project_skill.dark-mode:hover {
  box-shadow: inset 200px 0 0 0 #00c896;
  color: #fff;
}

.project_link {
  flex: 50%;
  background-color: #3395ff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 10%;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 0 #2468b3;
}
.project_link.dark-mode {
  background-color: #00c896;
  box-shadow: 0 5px 0 #008c69;
}
.project_link:active {
  box-shadow: none;
  transform: translateY(5px);
}
.project_link a {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.project_link a:hover {
  color: #4d4d4d;
}
.project_link a.dark-mode:hover {
  color: #e5e7eb;
}

.highlight {
  color: #007bff;
}
.highlight.dark-mode {
  color: #00c896;
}

.mode {
  position: absolute;
  right: 5%;
  top: 5%;
}
.mode .btn {
  background: none;
  border: none;
  border-radius: 5px;
}

#up {
  position: fixed;
  bottom: 5%;
  left: 50%;
  right: 50%;
  width: 32px;
  height: 32px;
}

#back-to-top_btn {
  background: none;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  box-shadow: 0 5px 0 #2468b3;
}
#back-to-top_btn:active {
  box-shadow: none;
  transform: translateY(5px);
}
#back-to-top_btn.dark-mode {
  background-color: #00c896;
  box-shadow: 0 5px 0 #008c69;
}
#back-to-top_btn.dark-mode:active {
  box-shadow: none;
  transform: translateY(5px);
}

#display {
  min-width: 21rem;
  padding-top: 0;
  padding-right: 20%;
  padding-bottom: 9;
  padding-left: 20%;
  -webkit-margin-before: 15%;
          margin-block-start: 15%;
  -webkit-margin-after: 35rem;
          margin-block-end: 35rem;
}
#display h1 {
  font-size: 6rem;
  margin-bottom: 0rem;
}
#display #headline {
  font-family: "Inconsolata";
  font-size: 1.125rem;
  margin: 1rem 0;
}
#display #headline p {
  max-width: 45rem;
  min-width: 25rem;
  font-size: 2rem;
}
#display #story {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.125rem;
  margin: 1rem 0;
}
#display #story p {
  max-width: 37rem;
  font-size: 1.15rem;
}
#display #story span {
  margin: 0 0.2rem;
}

.typewriter-container {
  height: 3rem;
  color: #007bff;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
}
.typewriter-container.dark-mode {
  color: #00c896;
}

#about {
  min-width: 21rem;
  padding-top: 0;
  padding-right: 20%;
  padding-bottom: 0;
  padding-left: 20%;
  -webkit-margin-after: 15rem;
          margin-block-end: 15rem;
}
#about p {
  line-height: 2;
  max-width: 80%;
}
#about p:nth-child(2) {
  color: #007bff;
}
#about p:nth-child(2).dark-mode {
  color: #00c896;
}

#coursework {
  min-width: 21rem;
  padding-top: 0;
  padding-right: 20%;
  padding-bottom: 0;
  padding-left: 20%;
  -webkit-margin-after: 15rem;
          margin-block-end: 15rem;
}

#course {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
#course h3 {
  font-size: 2rem;
  color: #007bff;
}
#course h3.dark-mode {
  color: #00c896;
}

.class {
  font-size: 1.1rem;
}

#cs-course {
  margin-right: 1rem;
}

#ds-course {
  margin-left: 1rem;
}

#skills {
  min-width: 21rem;
  padding-top: 0;
  padding-right: 20%;
  padding-bottom: 0;
  padding-left: 20%;
  -webkit-margin-after: 15rem;
          margin-block-end: 15rem;
}
#skills#frame p {
  line-height: 1.6rem;
  max-width: 80%;
}
#skills#frame span {
  font-weight: 900;
  font-size: 1.1rem;
  color: #007bff;
}
#skills#frame span.dark-mode {
  color: #00c896;
}

#projects {
  min-width: 21rem;
  padding-top: 0;
  padding-right: 20%;
  padding-bottom: 0;
  padding-left: 20%;
  -webkit-margin-after: 15rem;
          margin-block-end: 15rem;
}

footer {
  min-width: 21rem;
  padding: 0 1rem;
  display: flex;
  margin-bottom: 0.5rem;
}
footer #s {
  width: 0;
}
footer #o {
  text-align: center;
  font-size: 1rem;
}
footer #l {
  margin-left: auto;
  margin-right: 0;
}
footer ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
footer ul li {
  padding-right: 1rem;
}
footer ul li .links {
  text-decoration: none;
  padding: 0.2rem 0.2rem 0;
  color: black;
  border-bottom: 1px solid #007bff;
  box-shadow: inset 0 0 0 0 #007bff;
  transition: color 0.3s linear, box-shadow 2s linear;
}
footer ul li .links:hover {
  color: #fff;
  box-shadow: inset 0 -200px 0 0 #007bff;
}
footer ul li .links:active {
  color: #999999;
}
footer ul li .links.dark-mode {
  color: #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: inset 0 0 0 0 #00c896;
}
footer ul li .links.dark-mode:hover {
  color: #fff;
  box-shadow: inset 0 -200px 0 0 #00c896;
}
footer ul li .links.dark-mode:active {
  color: #333333;
}

@media only screen and (max-width: 24rem) {
  /* classes */
  div.headings h2 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  div.headings hr {
    margin: 0;
    margin-right: 20%;
  }
  div.project {
    -webkit-padding-after: 5rem;
            padding-block-end: 5rem;
  }
  .project_title {
    font-weight: bolder;
    font-style: italic;
    font-size: 1.2rem;
  }
  .project_skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
  }
  .project_skill {
    margin-right: 1rem;
    -webkit-margin-after: 0.5rem;
            margin-block-end: 0.5rem;
    border: 1px solid #007bff;
    border-radius: 3px;
    color: #007bff;
    font-size: 0.8rem;
    padding: 3px 7px 1px 7px;
  }
  .project_link a {
    border: 2px solid #007bff;
    background-color: #3395ff;
    color: white;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 7px;
  }
  .project_link a.dark-mode {
    color: #e5e7eb;
    border: 2px solid #00c896;
    background-color: #00b487;
    color: white;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 7px;
  }
  /* dark mode  */
  div.mode {
    position: absolute;
    right: 10%;
    top: 5%;
  }
  /* display section  */
  div#display {
    min-width: 21rem;
    padding: 0 1rem;
    margin-block: 10rem;
  }
  div#display h1 {
    font-size: 3rem;
  }
  div#display div#headline p {
    max-width: 88%;
    min-width: 80%;
    font-size: 1.5rem;
  }
  div#display #story p {
    letter-spacing: 0.794px;
    max-width: 90%;
  }
  /* about section  */
  div#about {
    min-width: 21rem;
    padding: 0 1rem;
    margin-block: 10rem;
  }
  /* course section  */
  div#coursework {
    min-width: 21rem;
    padding: 0 1rem;
    margin-block: 10rem;
  }
  /* skill section  */
  div#skills {
    min-width: 21rem;
    padding: 0 1rem;
    margin-block: 10rem;
  }
  /* project section  */
  div#projects {
    min-width: 21rem;
    padding: 0 1rem;
    -webkit-margin-before: 10rem;
            margin-block-start: 10rem;
    -webkit-margin-after: 3rem;
            margin-block-end: 3rem;
  }
  /* footer  */
  footer {
    min-width: 21rem;
    padding: 0 1rem;
    display: inline-block;
  }
  footer div#o {
    font-size: 1rem;
  }
  footer div#l {
    margin: 0 11%;
  }
  footer ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
  }
  footer ul li {
    margin-bottom: 1.5rem;
  }
  footer ul li a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
  }
  footer ul li a.dark-mode {
    text-decoration: none;
    color: #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }
}/*# sourceMappingURL=main.css.map */