@import "../helpers/variables";

.typewriter-container {
  height: 3rem;
  width: 80%;
  color: $accent-light-color;
  font: {
    size: 3rem;
    family: sans-serif;
    weight: bold;
  }
  &.dark-mode {
    color: $accent-dark-color;
  }
}
