@import "../helpers/variables";

#about {
  min: {
    width: 21rem;
  }
  padding: {
    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;
  }
  margin-block-end: 15rem;
  p {
    line: {
      height: 2;
    }
    max: {
      width: 80%;
    }
    &:nth-child(2) {
      color: $accent-light-color;
      &.dark-mode {
        color: $accent-dark-color;
      }
    }
  }
}
