@import "../helpers/variables";

footer {
  min-width: 21rem;
  padding: 0 min(5rem, 1rem);
  display: flex;
  margin-bottom: 0.5rem;

  #s {
    width: 0;
  }

  #o {
    text-align: center;
    font-size: 1rem;
  }

  #l {
    margin-left: auto;
    margin-right: 0;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    li {
      padding-right: 1rem;
      .links {
        text-decoration: none;
        padding: 0.2rem 0.2rem 0;
        color: black;
        border-bottom: 1px solid $accent-light-color;
        box-shadow: inset 0 0 0 0 $accent-light-color;
        transition: color 0.3s linear, box-shadow 2s linear;
        &:hover {
          color: $primary-light-color;
          box-shadow: inset 0 -200px 0 0 $accent-light-color;
        }
        &:active {
          color: $active-light-color;
        }
        &.dark-mode {
          color: $secondary-dark-color;
          border-bottom: 1px solid $secondary-dark-color;
          box-shadow: inset 0 0 0 0 $accent-dark-color;
          &:hover {
            color: #fff;
            box-shadow: inset 0 -200px 0 0 $accent-dark-color;
          }
          &:active {
            color: $active-dark-color;
          }
        }
      }
    }
  }
}
